//- script(src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
//- include ./includes/footer
//- script.
//- 	jQuery(document).ready(function ($) {
//- 		$("#submit").click(function () {
//- 			username = $("#username").val();
//- 			email = $("#email").val();
//- 			password = $("#password").val();
//- 			$.post("/signup", { username: username, email: email, password: password }, function (data) {
//- 				if (data === "success") {
//- 					window.location.href = "/login";
//- 				}
//- 			});
//- 		});
//- 	});