.nav
	ul
		li
			a(href="/") Home
		if(loggedIn)
			li
				a(href="/logout") Logout
			li
				a(href="/western") Western
			li
				a(href="/xiangqi") Xiangqi	
			li
				a(href="/shogi") Shogi
		else
			li
				a(href="/signup") Sign up
			li
				a(href="/login") Login
			li
				a(href="/western") Western
			li
				a(href="/xiangqi") Xiangqi
			li
				a(href="/shogi") Shogi