.nav
	ul
		li
			a(href="/") Ochess
		li
			a(href="/") Home
		if(loggedIn)
			.dropdown
				button.dropbtn Rules &#8628;
					i.fa_fa-caret-down
				.dropdown-content
					a(href="/western") Western
					a(href="/xiangqi") Xiangqi	
					a(href="/shogi") Shogi
			li 
				a(href=username)#username #{username}
			li
				a(href="/logout")#logout Logout
		else
			li
				a(href="/") Ochess
			li
				a(href="/signup") Sign up
			li
				a(href="/login") Login
			.dropdown
				button.dropbtn Rules
					i.fa_fa-caret-down
				.dropdown-content
					a(href="/western") Western
					a(href="/xiangqi") Xiangqi	
					a(href="/shogi") Shogi