include ./includes/head
	include ./includes/nav
	#mainbg
		#motoctn
			span#moto OneChess
			span#motoe , #[i no] 
			span distractions, 
			span#motoe #[i just] 
			span chess
		#createbtncontainer
			a(href="/create" role="button")#createbtn Create
		#gameButtonsCtn
			#gameButtons

	script(src="/socket.io/socket.io.js")
	script.
		var socket = io();
		var elements = [];

		function joinGame(){
			if(#{loggedIn}){
				socket.emit('joinGame', this.value);
			}else{
				alert("Please register or log in to join a game");
			}
		}

		socket.on('alertuser', (message)=>{
			alert("You cannot join a game that you have created");
		});

		socket.on('redirect', (destination)=>{
			window.location.href = destination;
		});
				
		socket.on('getGames', (data)=>{
			var i;
			var node= document.getElementById("gameButtons");
			node.querySelectorAll('*').forEach(n => n.remove());
			for(i=0; i<data.length;i++){
				var mydiv = document.getElementById("gameButtons");
				var button = document.createElement('button');
				button.classList.add('joinGame');
				button.value = data[i].gid;
				button.onclick = joinGame;
				switch(data[i].variant){
					case 1:
						button.innerText = "Type: Western Chess" + ", Time Control: "+data[i].time+" min + "+data[i].increment+" seconds";
						break;
					case 2:
						button.innerText = "Type: Xiangqi Chess" + ", Time Control: "+data[i].time+" min + "+data[i].increment+" seconds";
						break;
					case 3:
						button.innerText = "Type: Shogi Chess" + ", Time Control: "+data[i].time+" min + "+data[i].increment+" seconds";
						break;
					
				}
				mydiv.appendChild(button);
			}
		})

		var timer = setInterval(getGames, 3000);
		socket.emit('getGames', 'please');
		function getGames() {
			socket.emit('getGames', 'please');
		}