include ./includes/head
	include ./includes/nav
	if(success)
		p You have succesfully signed up, log in now!
	if(error)
		p Username or password incorrect.
	.form-box
		h2 Login
		form(action='/login', method='POST')
			.user-box
				input(name='username', type='text', required=true)
				label Username
			.user-box
				input(name='password', type='password', required=true)
				label Password
			button(type='submit') Submit
				span
				span
				span
				span
			p Don't have an account? 
			a#ref(href='/signup') Sign up here
