include ./includes/head
	include ./includes/nav
	.container
		.mainbox.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
			.jumbotron
				h1.h3 Log in
				if(success)
					p.alert.alert-success You have succesfully signed up, log in now!
				if(error)
					p.alert.alert-danger Email, username or password incorrect.
				form(action='/login', method='POST').form-horizontal
					.col
						label Email
						input(placeholder='Enter email or username', name='userdata', type='text', required=true).form-control
					.col
						label Password
						input(placeholder='Enter a password', name='password', type='password', required=true).form-control
					button.mt-3.btn.btn-primary(type='submit') Log in
					p.mt-3.mb-0 Don't have an account? #[a(href='/signup') Sign up here]