include ./includes/head
	include ./includes/nav
	//- #canvases
	//- 	canvas#background Please use another browser as yours does not support the HTML5 canvas tag.
	//- 	canvas#playingfield Please use another browser as yours does not support the HTML5 canvas tag.
	//- if (live)
	#canvases(style="position:relative; width:400px; height:400px")
		canvas#board(style="position:absolute;left:0px;top:0px;") This text is displayed if your browser does not support HTML5 Canvas.

		//- if(international)


		if(shogi)
			canvas#pieces(style="position:absolute;left:0px;top:0px;" height="400px" width="400px") This text is displayed if your browser does not support HTML5 Canvas.
	script(src="/socket.io/socket.io.js")
	script(src="scripts/game.js")
	//- else
		//- h1 Waiting for opponent



