include ./includes/head
	include ./includes/nav
	p(style="background-color: #666699; font-family: 'Impact', 'Helvetica', 'Arial', sans-serif;") Waiting for opponent

	script(src="/socket.io/socket.io.js")
	script.
		var socket = io();

		function waiting(){
			socket.emit('waiting', #{id});
		}


		var timer = setInterval(waiting, 300);
		
		socket.on('waiting', (r)=>{
			if(r != 0){
				window.location.href = '/'+ #{id};
			}
		});

