include ./includes/head
	include ./includes/nav
	#rulesbg
		#rulestxt
			h1 Xiangqi Rules
			h2 Are you a visual learner? No worries, watch this short clip.
			iframe(width="560" height="315" src="https://www.youtube.com/embed/0UuDiL9CLPI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
			h2 Notice
			p Be wary that some of the following sections apply for real-life use only and have for the sole purpose of being informative to those curious enough to take this online game to the board. 
			p Bob and Alice are two fictional characters that will help you understand how the game is played.
			h2 Objective
			p Each player is responsible to his general's safety. The player with the red pieces plays first. Each turn, a player moves a piece that is currently on the board (and potentially captures an opposing piece). The game ends when a general is attacked and cannot make a legal move. This is what is known as checkmate: the general is captured which means the player responsible for that piece has failed to protect it and thus loses.
			h2 Player and Role Arrangement 
			p A player can be responsible for only one general's safety. There are only two general pieces in a xiangqi set. One of them is red, the other is black. Both players agree on which general they will be responsible for. Bob chooses the red general and Alice agrees to play as black. This means that all red pieces now belong to Bob and all black pieces belong to Alice. It also means that Bob will play first. If they decide to play another game then they alternate turns as who plays first i.e. who plays as red. The other pieces on the board are there to keep the general safe and capture the opponent general. Let us now see how to set the pieces on the board.
			h2 Board and Piece Arrangement
			p Two players face each other and the chessboard separates them. The board must have the decorated design face up. Notice that there is a line of emptinessin the middle of the board, this is the #[strong river] and it has a particular effect on the gameplay. Set the board so that the river is horizontal to you like so:
			img(src="images/xiangqi/tutorial/1.png" alt="Empty board" width="200" height="200" style="padding:10px;")
			p The pieces are set up like so:
			img(src="images/xiangqi/tutorial/2.png" alt="Starting position board" width="200" height="200")
			p If you're still struggling to understand how to position the board and set the pieces please watch this video:
			iframe(width="560" height="315" src="https://www.youtube.com/embed/KTmN2hRbbms" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
			p Since Bob is red do make sure that the red pieces are closest to him. Great! Before we start making moves and checkmating your opponent you should know the rules that apply for each piece.
			h2 Naming the pieces
			h3 &nbsp; General &nbsp;&nbsp;&nbsp; Advisor &nbsp; Catapult &nbsp;&nbsp;&nbsp; Rook  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Horse  &nbsp;&nbsp;&nbsp;&nbsp; Elephant &nbsp;&nbsp; Pawn 
			img(src="https://www.pychess.org/static/images/pieces/xiangqi/playok/red_king.svg" alt="General piece" width="50" height="50" style="padding:20px;")
			img(src="https://www.pychess.org/static/images/pieces/xiangqi/playok/red_advisor.svg" alt="Advisor piece" width="50" height="50" style="padding:20px;")
			img(src="https://www.pychess.org/static/images/pieces/xiangqi/playok/red_cannon.svg" alt="Catapult piece" width="50" height="50" style="padding:20px;")
			img(src="https://www.pychess.org/static/images/pieces/xiangqi/playok/red_chariot.svg" alt="Rook piece" width="50" height="50" style="padding:20px;")
			img(src="https://www.pychess.org/static/images/pieces/xiangqi/playok/red_horse.svg" alt="Horse piece" width="50" height="50" style="padding:20px;")
			img(src="https://www.pychess.org/static/images/pieces/xiangqi/playok/red_elephant.svg" alt="Elephant piece" width="50" height="50" style="padding:20px;")
			img(src="https://www.pychess.org/static/images/pieces/xiangqi/playok/red_pawn.svg" alt="Pawn piece" width="50" height="50" style="padding:20px;")
			h2 Movement
			h3 General rules
			p Each point can only be occupied by one piece. A piece cannot capture another piece if it is of the same color. A piece cannot be placed outside of the board. A piece cannot jump over another piece except for the catapult. If a piece lands on a point occupied by the opponent's piece it can capture it by setting it aside. A piece captures in the direction of movement except for the catapult.
			p It is also important to note three important zones that have an impact ont the piece movement.
			h4 Palace
			img(src="images/xiangqi/tutorial/3.png" alt="Board position" width="200" height="200")
			h4 Friendly territory
			img(src="images/xiangqi/tutorial/4.png" alt="Board position" width="200" height="200")
			h4 Enemy territory
			img(src="images/xiangqi/tutorial/5.png" alt="Board position" width="200" height="200")
			h3 Pieces
			p A #[strong General] moves one point orthogonally so long as: it is within the palace, the landing point is not attacked by an enemy piece, it leads to the generals facing each other vertically. 
			img(src="images/xiangqi/tutorial/6.png" alt="Board position" width="200" height="200")
			img(src="images/xiangqi/tutorial/7.png" alt="Board position" width="200" height="200")
			img(src="images/xiangqi/tutorial/8.png" alt="Board position" width="200" height="200")
			img(src="images/xiangqi/tutorial/8.png" alt="Board position" width="200" height="200")
			img(src="images/xiangqi/tutorial/9.png" alt="Board position" width="200" height="200")
			p A #[strong Advisor] moves diagonally so long as it is within the palace.
			img(src="images/xiangqi/tutorial/10.png" alt="Board position" width="200" height="200")
			img(src="images/xiangqi/tutorial/11.png" alt="Board position" width="200" height="200")
			p A #[strong Catapult] moves any number of points orthogonally. It's different to the rook as it doesn't capture in the direciton of the movement. A catapult can only capture by jumping a single piece of either colour along the path of attack. Any number of unoccupied points may exist between the piece being attacked and the piece being jumped over.  
			img(src="images/xiangqi/tutorial/12.png" alt="Board position" width="200" height="200")
			img(src="images/xiangqi/tutorial/13.png" alt="Board position" width="200" height="200")
			p A #[strong Rook] moves any number of points orthogonally. It is considered the most powerful piece on the board.
			img(src="images/xiangqi/tutorial/14.png" alt="Board position" width="200" height="200")
			img(src="images/xiangqi/tutorial/15.png" alt="Board position" width="200" height="200")
			p A #[strong Elephant] moves exactly two points diagonally as long as: no piece in front of the direction of movement, it stays in friendly territory (not crossing the river). 
			img(src="images/xiangqi/tutorial/16.png" alt="Board position" width="200" height="200")
			img(src="images/xiangqi/tutorial/17.png" alt="Board position" width="200" height="200")
			p A #[strong Horse] moves exactly like a knight in western chess i.e. one point orthogonally followed by one point diagonally away from its original position. The difference is that it cannot jump over a piece as follows: 
			img(src="images/xiangqi/tutorial/18.png" alt="Board position" width="200" height="200")
			img(src="images/xiangqi/tutorial/19.png" alt="Board position" width="200" height="200")
			p A #[strong Pawn] moves forward by one. It captures in the direction of the movement. After crossing the river the pawn can also move and capture one point on the sides.
			img(src="images/xiangqi/tutorial/20.png" alt="Board position" width="200" height="200")
			img(src="images/xiangqi/tutorial/21.png" alt="Board position" width="200" height="200")
			h2 Gameplay
			p Bob and Alice now understand how to move the pieces and capture. It's time for them to play.
			p They set up the board with Bob as red. Let's play from red/Bob's perspective.
			img(src="images/xiangqi/tutorial/22.png" alt="Board position" width="200" height="200")
			h3 #[strong Opening]
			p A chess opening refers to the initial moves of a chess game, they are often memorized by those who play a lot to avoid making mistakes.
			p It is important to remember that #[strong red plays first] and then it switches every round from there on. That is why chess players often say that they'd rather play as red as they lead the dance. Bob plays the first move as he is red.
			img(src="images/xiangqi/tutorial/23.png" alt="Board position" width="200" height="200")
			p Bob and Alice play a few moves and land in the middle-game.
			h3 #[strong Middle-game]
			p A chess middlegame is not clearly delineated from the opening. The middle-game often refers to the point of the game where both players no longer rely on theory but rather experience and line calculations - line calculation is another one of those chess terms that you'll often see written everywhere and it is defined by the act of looking at many different possible board configurations to see if you can get the upperhand. For Bob and Alice it looks like this:
			img(src="images/xiangqi/tutorial/24.png" alt="Board position" width="200" height="200")
			h3 #[strong End-game]
			p At this point of the game not many chess pieces are left on the board and if one player is at an advantage he/she must try to find a way to checkmate his/her opponent.
			p Bob and Alice reach this end-game:
			img(src="images/xiangqi/tutorial/25.png" alt="Board position" width="200" height="200")
			p Alice is winning because she has more pieces than Bob and the following move will be checkmate.
			p Alice makes a move
			img(src="images/xiangqi/tutorial/26.png" alt="Board position" width="200" height="200")
			h2 Stalemate, draws and repetition
			p Stalemate is a board state where the player is unable to make a valid move and where the king isn't attacked, instead of being a draw like in western chess it is a loss for the one who can't move.
			p Both players can also agree on a draw.
			h2 Piece values for position evaluation
			p A #[strong General] doesn't have a worth because the capture of this piece is the end of the game.
			table#evaluation
				tr
					td.tdtitle Type
					td.tdtitle Cross river
					td.tdtitle Evaluation
				tr
					td Pawn
					td False
					td 1
				tr
					td Pawn
					td True
					td 2
				tr
					td Advisor
					td False
					td 2
				tr
					td Catapult
					td False
					td 4.5
				tr
					td Rook
					td False
					td 9
				tr
					td Elephant
					td False
					td 2
				tr
					td Horse
					td False
					td 4
			h2 Conclusion
			p Thanks for reading, I hope this tutorial was helpful.
			h2 References
			h3 Setting up the board
			p https://www.youtube.com/watch?v=KTmN2hRbbms courtesy of the Wilson Ng, channel link: https://www.youtube.com/channel/UCaHPnnNUu5EzruXooyy1bjQ.
			h3 Xiangqi rules
			p https://www.youtube.com/watch?v=0UuDiL9CLPI by AncientChess, YouTube channel link: https://www.youtube.com/channel/UC-fhoLOUnnUS6tPagJL1JlA
			h3 Getting board position images with highlighting
			p https://www.pychess.org/editor/xiangqi courtesy of Bajusz Tamás, github link: https://github.com/gbtami
