body{
	cursor:auto;
	margin:0;
	padding:0;
	background-color: rgb(8, 23, 65);
	font-family: sans-serif;
}

/*Nav bar*/

.nav {
	margin:0;
	padding:0;
	font-size: 13px;
	background-color: #996680;
	list-style: none;
	border: 1px solid;
	position: relative;
	width: 100%;
	height: 50px;
	top:0;
}

.nav li {
  text-align: center;
  float: right;
  list-style-type: none;
}

.nav li:nth-child(-n+3) {
	float: left;
}

.nav li a {
	display: block;
	color: #ffffff;
	text-decoration: none;
	padding: 8px 12px;
	border-radius: 8px;
}

.nav li a:hover {
	background-color: #111;
}

#username{
	background-color: red;
}

/*Drop down for rules*/

.dropdown {
	float: left;
	overflow: hidden;
}

.dropdown .dropbtn {
	color: #DFF0D8;
	background-color: #666699;
	border: none;
	margin:0;
	padding:0;
	color: #ffffff;
	text-decoration: none;
	padding: 8px 12px;
	border-radius: 8px;
}

.navbar a:hover, .dropdown:hover .dropbtn {
	background-color: purple;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}


.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown-content a:hover{
	background-color: orange;*
	border-radius: 8px;
}


/*Forms*/

.header {
	padding: 60px;
	text-align: center;
	background: #1abc9c;
	color: white;
	font-size: 30px;
}

.form {
	background-color: #eee;
	font-family: Helvetica, Arial, sans-serif;
	max-width: 600px;
	padding: 25px;
}

.field {
	border: 1px solid #ccc;
	font-family: inherit;
	font-size: 1rem;
	padding: 10px;
}

::-webkit-scrollbar {
  width: 30px;
}

::-webkit-scrollbar-track {
  background: #081741;
}

::-webkit-scrollbar-thumb {
  background: orange;
}

::-webkit-scrollbar-thumb:hover {
  background: darkorange;
}


.form-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.form-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.form-box .user-box {
  position: relative;
}

.form-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.form-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.form-box .user-box input:focus ~ label,
.form-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.form-box form button {
	position: relative;
	display: inline-block;
	padding: 10px 20px;
	color: #03e9f4;
	font-size: 16px;
	text-decoration: none;
	background-color: darkblue;
	text-transform: uppercase;
	overflow: hidden;
	transition: .5s;
	margin-top: 40px;
	letter-spacing: 4px
}

.form-box button:hover {
	background: #03e9f4;
	color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 5px #03e9f4,
				0 0 25px #03e9f4,
				0 0 50px #03e9f4,
				0 0 100px #03e9f4;
}

.form-box button span {
	position: absolute;
	display: block;
}

.form-box button span:nth-child(1) {
	top: 0;
	left: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg, transparent, #03e9f4);
}


.form-box button span:nth-child(2) {
	top: -100%;
	right: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(180deg, transparent, #03e9f4);
	animation-delay: .25s
}


.form-box button span:nth-child(3) {
	bottom: 0;
	right: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(270deg, transparent, #03e9f4);
	animation-delay: .5s
}


.form-box button span:nth-child(4) {
	bottom: -100%;
	left: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(360deg, transparent, #03e9f4);
	animation-delay: .75s
}


#ref {
	top:0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	transition: .5s;
}

/*For game*/

p {
	top:0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	pointer-events: none;
	transition: .5s;
}

#board{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -200px;
	margin-left: -200px;
}

#player1{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -200px;
	height: 50px;
	background-color: #666699;
}

#player2{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -200px;
	height: 50px;
	background-color: #666699;
}

#timerplayer1{
	position: absolute;
	border-radius: 25px;
	left: 50%;
	top: 50%;
	margin-top: -20px;
	margin-left: 70px;
	height: 40px;
	width: 130px;
	background-color: white;
}

#timerplayer2{
	position: absolute;
	border-radius: 25px;
	left: 50%;
	top: 50%;
	margin-top: -20px;
	margin-left: 70px;
	height: 40px;
	width: 130px;
	background-color: white;
}

#sbOne{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -200px;
	margin-left: -355px;
}

#sbTwo{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: 100px;
	margin-left: 255px;	
}

.sb{
	position: absolute;
	border-radius: 25px;
	height: 20px;
	width: 20px;
	background-color: #666699;	
}

#valuesOne{
	font-size: 20px;
	font-family: 'Impact', 'Helvetica', 'Arial', sans-serif;
}

#valuesTwo{
	font-size: 20px;
	font-family: 'Impact', 'Helvetica', 'Arial', sans-serif;
}

.gamestyle{
	font-size: 30px;
	font-family: 'Impact', 'Helvetica', 'Arial', sans-serif;
}

.sbPawn{
	margin-top: -120px;
	margin-left: 15px;
}

.sbLance{
	margin-top: -120px;
	margin-left: 65px;
}

.sbKnight{
	margin-top: -120px;
	margin-left: 115px;
}

.sbSilver{
	margin-top: -70px;
	margin-left: 15px;
}

.sbGold{
	margin-top: -70px;
	margin-left: 65px;
}

.sbBishop{
	margin-top: -70px;
	margin-left: 115px;
}

.sbRook{
	margin-top: -20px;
	margin-left: 15px;
}

.sbValues{
	font-weight: 600;
	color: white;
}

/*Home page*/

#motoctn{
	padding-top: 30px;
	padding-left: 100px;
}

#moto{
	font-weight: 100px;
	font-size: 50px;
	font-family:'Georgia', sans-serif;
}

#motoe{
	font-weight: bold;
	font-family:'Arial', sans-serif;
}

.joinGame{
	padding: 5px;
	margin: 5px;
	color: white;
	width: 98%;
	background-color: #666699;
	text-align: left;
	font-family: 'Helvetica', 'Arial', sans-serif;
}

.joinGame:hover{
	background-color: #446699;
}


#mainbg{
	width: 800px;
	background-color: #666699;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px; 
}

#gameButtons{
	width: 500px;
	height: 720px;
	background-color: #52527a;
  	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  	margin-left: 100px;
}

#gameButtonsCtn{
	padding-top: 50px;
	padding-bottom: 50px;
}

#createbtncontainer{
	padding-left: 650px;
	padding-top: 20px;
	position: absolute;
}

#createbtn{
	text-decoration: none;
	background-color: #f44336;
	display: block;
	margin-top: -70px;
	padding: 15px;
	border: 50px;
	width: 100px;
	height: 40px;
	border-radius: 15px;
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-weight: 900;
	font-size: 25px;
	color: white;
}

#createbtn:hover{
	background-color: #A44336;
}

#gameinfo{
	position: relative;
	top: 7px;
	left: 30px;
	display: inline-block;
}

#datagameinfo{
	font-size: 15px;
	color: white;
	font-family: 'Impact', 'Helvetica', 'Arial', sans-serif;
}

#divEyeNb{
	width: 45px;
	height: 45px;
	background-color: orange;
	margin-top: 10px;
}

#eyeNb{
	font-size: 15px;
	color: white;
	font-family: 'Impact', 'Helvetica', 'Arial', sans-serif;
}
	
#divMoveNb{
	width: 45px;
	height: 45px;
	background-color: orange;
	margin-top: 5px;
}	

#moveNb{
	font-size: 20px;
	color: white;
	font-family: 'Impact', 'Helvetica', 'Arial', sans-serif;
}

/*For rules*/

#rulesbg{
	width: 800px;
	background-color: #666699;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px; 
}

#rulestxt{
	position: relative;
	margin:20px;
	top: 10px;
}

#rulestxt h1{
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-weight: 5px;
}

.evaluation {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 80%;
}

.evaluation td, .evaluation th {
	border: 1px solid #ddd;
	padding: 8px;
}

.evaluation tr:nth-child(even){background-color: #9797d1;}
.evaluation tr:nth-child(odd){background-color: #8484ba;}
.evaluation tr:hover {background-color: #7a6bb5;}

.evaluation th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #4CAF50;
	color: white;
}

.tdtitle{
	background-color: #8484d1;
	font-weight: bold;
}

/*User page*/

#profile{
	padding-left: 20px;
	padding-bottom: 20px;
}


