*{
	cursor:url();
}

body{
	cursor:auto;
	margin:0;
	padding:0;
	background-color: rgb(8, 23, 65);
	font-family: sans-serif;
}

.nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #666699;
}


.nav ul li {
	float: left;
}

.nav li a {
	display: block;
	color: #DFF0D8;
	font-size: 10px;
	text-align: center;
	padding: 8px 12px;
	margin: 3px;
	text-decoration: none;
	border-radius: 8px;
}

.nav li a:hover {
	background-color: #111;
}

.header {
	padding: 60px;
	text-align: center;
	background: #1abc9c;
	color: white;
	font-size: 30px;
}

.form {
	background-color: #eee;
	font-family: Helvetica, Arial, sans-serif;
	max-width: 600px;
	padding: 25px;
}

.field {
	border: 1px solid #ccc;
	font-family: inherit;
	font-size: 1rem;
	padding: 10px;
}

::-webkit-scrollbar {
  width: 30px;
}

::-webkit-scrollbar-track {
  background: #081741;
}

::-webkit-scrollbar-thumb {
  background: orange;
}

::-webkit-scrollbar-thumb:hover {
  background: darkorange;
}


.form-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.form-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.form-box .user-box {
  position: relative;
}

.form-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.form-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.form-box .user-box input:focus ~ label,
.form-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.form-box form button {
	position: relative;
	display: inline-block;
	padding: 10px 20px;
	color: #03e9f4;
	font-size: 16px;
	text-decoration: none;
	background-color: darkblue;
	text-transform: uppercase;
	overflow: hidden;
	transition: .5s;
	margin-top: 40px;
	letter-spacing: 4px
}

.form-box button:hover {
	background: #03e9f4;
	color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 5px #03e9f4,
				0 0 25px #03e9f4,
				0 0 50px #03e9f4,
				0 0 100px #03e9f4;
}

.form-box button span {
	position: absolute;
	display: block;
}

.form-box button span:nth-child(1) {
	top: 0;
	left: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg, transparent, #03e9f4);
	animation: btn-anim1 1s linear infinite;
}


.form-box button span:nth-child(2) {
	top: -100%;
	right: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(180deg, transparent, #03e9f4);
	animation: btn-anim2 1s linear infinite;
	animation-delay: .25s
}


.form-box button span:nth-child(3) {
	bottom: 0;
	right: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(270deg, transparent, #03e9f4);
	animation: btn-anim3 1s linear infinite;
	animation-delay: .5s
}


.form-box button span:nth-child(4) {
	bottom: -100%;
	left: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(360deg, transparent, #03e9f4);
	animation: btn-anim4 1s linear infinite;
	animation-delay: .75s
}


#ref {
	top:0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	transition: .5s;
}

p {
	top:0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	pointer-events: none;
	transition: .5s;
}

#board{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -200px;
	margin-left: -200px;
}

#player1{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -200px;
	height: 50px;
	background-color: #666699;
}

#player2{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -200px;
	height: 50px;
	background-color: #666699;
}

#timerplayer1{
	position: absolute;
	border-radius: 25px;
	left: 50%;
	top: 50%;
	margin-top: -20px;
	margin-left: 70px;
	height: 40px;
	width: 130px;
	background-color: white;
}

#timerplayer2{
	position: absolute;
	border-radius: 25px;
	left: 50%;
	top: 50%;
	margin-top: -20px;
	margin-left: 70px;
	height: 40px;
	width: 130px;
	background-color: white;
}

#sbOne{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -200px;
	margin-left: -355px;
}

#sbTwo{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: 100px;
	margin-left: 255px;	
}

.sb{
	position: absolute;
	border-radius: 25px;
	height: 20px;
	width: 20px;
	background-color: #666699;	
}

#valuesOne{
	font-size: 20px;
	font-family: 'Impact', 'Helvetica', 'Arial', sans-serif;
}

#valuesTwo{
	font-size: 20px;
	font-family: 'Impact', 'Helvetica', 'Arial', sans-serif;
}

.gamestyle{
	font-size: 30px;
	font-family: 'Impact', 'Helvetica', 'Arial', sans-serif;
}

.sbPawn{
	margin-top: -120px;
	margin-left: 15px;
}

.sbLance{
	margin-top: -120px;
	margin-left: 65px;
}

.sbKnight{
	margin-top: -120px;
	margin-left: 115px;
}

.sbSilver{
	margin-top: -70px;
	margin-left: 15px;
}

.sbGold{
	margin-top: -70px;
	margin-left: 65px;
}

.sbBishop{
	margin-top: -70px;
	margin-left: 115px;
}

.sbRook{
	margin-top: -20px;
	margin-left: 15px;
}

.sbValues{
	font-weight: 600;
	color: white;
}

.joinGame{
	padding: 5px;
	margin: 5px;
	color: white;
	background-color: #666699;
	font-family: 'Impact', 'Helvetica', 'Arial', sans-serif;
}

#gameButtons{
	width: 500px;
	height: 500px;
	border: 1px solid #ccc;
	margin-left: auto;
	margin-right: auto;
}

#gamestitle{
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #ccc;
	width: 500px;
	border-radius: 10px;
	font-weight: bold;
}

#button{
	text-decoration: none;
	background-color: #f44336;
	display: block;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
	border: 50px;
	width: 100px;
	height: 20px;
	border-radius: 15px;
	color: white;
}

#gameinfo{
	position: relative;
	top: 7px;
	left: 30px;
	display: inline-block;
}

#datagameinfo{
	font-size: 15px;
	color: white;
	font-family: 'Impact', 'Helvetica', 'Arial', sans-serif;
}

#divEyeNb{
	width: 45px;
	height: 45px;
	background-color: orange;
	margin-top: 10px;
}

#eyeNb{
	font-size: 15px;
	color: white;
	font-family: 'Impact', 'Helvetica', 'Arial', sans-serif;
}
	
#divMoveNb{
	width: 45px;
	height: 45px;
	background-color: orange;
	margin-top: 5px;
}	

#moveNb{
	font-size: 20px;
	color: white;
	font-family: 'Impact', 'Helvetica', 'Arial', sans-serif;
}

#rulesbg{
	width: 800px;
	background-color: #666699;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px; 
}

#rulestxt{
	position: relative;
	margin:20px;
	top: 10px;
}

#rulestxt h1{
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-weight: 5px;
}